* {
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
    margin: 0;
    padding: 0;
}
#div1, #div2, #div3 {
    width: 100%;
   
}

/*====================styling div1*===================================*/
#div1 {
    background-color: #d6ecf5;
    height: 200px;
}
.cloud {
    width: 200px;
    background-color: #d6ecf5;
}

/*=====================div2 codes==================== */
#div2 {
    background-color: green;
    height: 200px;
    position: relative;
}
/* grass codes */
.grass1 {
    width: 500px;
    background-color: green;
    background-size: contain;
    
}
/*====rabbit code======*/
.grass2 {
    width: 300px;
    background-color: green;
}

/*================div3 codes*=======================*/
#div3 {
    background-color: gray;
    height: 225px;
    position: relative;
    border-top: 6px solid lightgray;
    border-bottom: 6px solid lightgray;
    position: relative;
}
.inner-div3 {
    width: 100%;
    position: relative;
    top: 120px;
    border: 6px solid white;
}
.mario {
    width: 80px;
    background: gray;
    position: relative;
    top: 23px;
}
.luigi {
    width: 70px;
    background: gray;
    position: relative;
    top: 117px;
}