* {
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
    margin: 0;
    padding: 0;
}
#div1, #div2, #div3 {
    width: 100%;
   
}

/*====================styling div1*===================================*/
#div1 {
    background-color: #d6ecf5;
    height: 200px;
    position: relative;
}
.cloud {
    width: 200px;
    background-color: #d6ecf5;
    animation-name: cloud;
    animation-duration: 45s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
.cloud1 {
    width: 150px;
    background-color: transparent;
    animation-name: cloud1;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-direction: normal;
    animation-iteration-count: infinite;
    position: absolute;
    top: 0;
    left: 0;
}

/*=====================div2 codes==================== */
#div2 {
    background-color: green;
    height: 200px;
    position: relative;
}
/* grass codes */
.grass1 {
    width: 500px;
    background-color:green;
    background-size: contain;
}
/*====rabbit code======*/
.grass2 {
    width: 300px;
    background-color: green;
}

/*================div3 codes*=======================*/
#div3 {
    background-color: gray;
    height: 225px;
    position: relative;
    border-top: 6px solid lightgray;
    border-bottom: 6px solid lightgray;
    position: relative;
}
#div3 p {
    padding: 0;
    margin: 0;
    color: red;
}
.inner-div3 {
    width: 100%;
    position: relative;
    top: 100px;
    border: 6px solid white;
    text-align: center;
    font-size: 10px;
}
.mario {
    width: 60px;
    background: gray;
    position: relative;
    top: 11px;
    animation-name: mario;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
.luigi {
    width: 50px;
    background: gray;
    position: relative;
    top: 125px;
    animation-name: luigi;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
/*==============keyframes=========*/
@keyframes mario {
    from {
        transform: translate(-1000px);
    }
    to {
        transform: translate(1400px);
    }
}
@keyframes luigi {
    from {
        transform: translate(-500px);
    }
    to {
        transform: translate(1400px);
    }
}
@keyframes cloud {
    from {
        transform: translate(-100px);
    }
    to {
        transform: translate(1400px);
    }
}
@keyframes cloud1 {
    from {
        transform: translate(-100px);
    }
    to {
        transform: translate(1400px);
    }
}