*{
    font-family: verdana;
    margin: 0;
}

body {
    background: #eee;
}

.wrapper {
    width: 100%;
    min-width: 960px;
    margin: 0 auto;
}

/* menu based styles */
nav {
    background: #333;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: block;
    padding: 10px;
    background: #777;
}
nav:hover {
    background: #555;
}

/*flex styles */

@media screen and (min-width:768px) {
    nav ul {
        display: flex;
    }
    nav li {
        flex: 1 1 0;
    }
    .social {
        margin: 0;
    }
}
/**=============social media based menu================*/
a.tw {
    background-image: url('../animaton_effect/images/tw.png');
    background-repeat: no-repeat;
    background-position: center;
}
a.fb {
    background-image: url('../animaton_effect/images/fb.png');
    background-repeat: no-repeat;
    background-position: center;
} 
.social a {
    text-indent: -10000px;
}
.social {
    max-width: 80px;
    margin: 0;
}
/******************fles styles*************************/
nav ul.social {
    flex: 1 1 0;
    display: flex;
    flex-wrap: wrap;
}
nav ul.social li {
    flex: 1 1 0;
}
nav {
    display: flex;
    justify-content: space-between;
}